<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/jquery/jquery.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery/jquery.js"><\/script>')
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>




<body ng-app="myApp" ng-controller="userCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ChatApp</a>
            </div>

        </div>
    </nav>

    <div class="container">

        <h3 ng-show="username">Your user name is: <span style="color: #ac2925">{{uName}}</span></h3>

        <hr>

        <h3>New User</h3>


        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="fName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="lName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="passw1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repeat:</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="passw2" placeholder="Repeat Password">
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-success" ng-disabled="error || incomplete" ng-click="storeMe()">
            <span ng-class="addMeClass"></span> Add Me
        </button>
    </div>

    <script src="myUsers.js"></script>

    <script>
        // Check browser support


                        angular.module('myApp', []).controller('userCtrl', function ($scope) {
                            $scope.fName = '';
                            $scope.lName = '';
                            $scope.passw1 = '';
                            $scope.passw2 = '';

                            $scope.username=false;
                            $scope.error = false;
                            $scope.incomplete = false;
                            $scope.addMeClass="glyphicon glyphicon-save";


                            $scope.$watch('passw1', function () {
                                $scope.test();
                            });
                            $scope.$watch('passw2', function () {
                                $scope.test();
                            });
                            $scope.$watch('fName', function () {
                                $scope.test();
                            });
                            $scope.$watch('lName', function () {
                                $scope.test();
                            });

                            $scope.test = function () {
                                if ($scope.passw1 !== $scope.passw2) {
                                    $scope.error = true;
                                } else {
                                    $scope.error = false;
                                }
                                $scope.incomplete = false;
                                if ((!$scope.fName.length ||
                                        !$scope.lName.length ||
                                        !$scope.passw1.length || !$scope.passw2.length)) {
                                    $scope.incomplete = true;
                                }
                                else{
                                     $scope.username=true;
                                    $scope.uName=$scope.fName+"."+$scope.lName;
                                }
                            };

                            $scope.storeMe = function () {
                                // Check browser support
                                if (typeof (Storage) !== "undefined") {
                                    // Store
                                    localStorage.setItem("lastname", $scope.lName);
                                     localStorage.setItem("firstname", $scope.fName);
                                      localStorage.setItem("password", $scope.passw1);
                                       $scope.addMeClass="glyphicon glyphicon-saved"
                                    // Retrieve
                                    document.getElementById("result").innerHTML = localStorage.getItem("lastname");
                                } else {
                                   // document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
                                }

                            };

                        });
    </script>
</body>

</html>